<div>
  <label>Buscar:
    <input [(ngModel)]="resultado.displayName" placeholder="ingrese datos">
  </label>
</div>

<div class="card">
  <ng-container *ngFor = "let record of data.records">
    <h2>{{record.displayName}}</h2>
    <h2><img src="{{record.smallImage}}" alt="Smiley face" height="42" width="42"></h2>
    <h2>{{record.list_Price}}</h2>
  </ng-container>
</div>



<h2>Resultados</h2>
<hr>
<div><span>nombre: </span>{{resultado.displayName}}</div>
<div><span>imagen: </span><img src="{{resultado.smallImage}}" alt="Smiley face" height="42" width="42"></div>
<div><span>costo: </span>{{resultado.list_Price}}</div>